@charset "UTF-8";
*{
    margin:0;
    padding:0;
}
body{
    background-image:url("images/signin.jpg");
    background-size:cover;
    background-position:center bottom;
    background-repeat:no-repeat;
}
.main{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
}
.sign_in{
    display:flex;
    flex-direction:column;
    justify-content: center; 
    align-items: center;
    width:500px;
    height:500px;
    background-color: rgba(170, 181, 166, 0.513);
    border-radius:25px;
  }
  .FORM input{
    border:3px solid black;
    font-size:14px;

}
.FORM label{
    font-size:20px;
}
#email{
    width:300px;
    height:25px;
    background-color: #f6f0ee;
}
#password{
    width:300px;
    height:25px;
    background-color: #f6f0ee;
}
button{
    height:30px;
    width:70px;
    margin-left:235px;
    font-size:20px;
    background-color:#D862BC;
    border-radius:10px;
    
}
button:hover{
    background-color: #d86282;
}